extends layout

block content
  .container-fluid
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg

    .container
      .panel
        .panel-heading
          h3.panel-title Images Search
        .panel-body
          form.form-horizontal(method='POST')
            .form-group
              .col-sm-8
                input.form-control(type='text', name='query', id='query', autofocus=true, value=request)
              .col-sm-2
                button.btn.btn-success(type='submit') Search
      if images
        .panel
          .panel-heading
            h2.panel-title Result
            p.font-weight-light Click on the thumbnail to access the original image.
          .panel-body
            for image in images
              a(href=image.original)
                img(src=image.thumbnail)

      
